.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
ai_docs/**
instructions.txt
progress.md
node_modules/**
*.vsix
*.code-workspace
.env/**
.env.example
**/*.md
!README.md
!CHANGELOG.md
!LICENSE
fixes/**
name_changes.md
